.main-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 80%;
}
