.form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;

  .input-group {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    min-width: 400px;
  }
}
